[user]
	name = Jaron Jones
	email = jaron.jones@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = current
	autoSetupRemote = true
[rebase]
	autosquash = true
	autostash = true
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[diff]
	algorithm = histogram
	colorMoved = default
[merge]
	conflictStyle = zdiff3
[rerere]
	enabled = true
[fetch]
	prune = true
[alias]
	st = status -sb
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all
	unstage = reset HEAD --
	amend = commit --amend --no-edit
	wip = !git add -A && git commit -m 'wip'
